<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-user" style="height: 250px !important;">
        <div class="image">
          <img src="../../../../assets/img/header.jpg" alt="...">
        </div>
        <div class="card-body" >
          <div class="author">
            <a href="/in/profile">
              <img class="avatar border-gray" src="../../../../assets/img/profile.JPG" alt="...">
              <h5 class="title">{{ name }}</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="this.myprofile == false">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            
            <div class="col-md-12">
              <div *ngIf="status == 'invi'" style="text-align: center; display: flex; flex-direction: row;">
                <button class="btn btn-success btn-round" (click)="acceptInvitation(id, name);this.ngOnInit();">
                  <i class="now-ui-icons ui-1_check"></i>
                  Accept
              </button>
              <button class="btn btn-danger btn-round" (click)="deleteInvitation(id);this.ngOnInit();">
                <i class="now-ui-icons ui-1_simple-remove"></i>
                Delete
            </button>
              </div>
              <div *ngIf="status == 'pending'" style="text-align: center;">
                <button class="btn btn-warning btn-round" (click)="cancelInvitation(id);this.ngOnInit();">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                  Cancel
              </button>
              </div>
              <div *ngIf="status == 'friend'" style="text-align: center;">
                <a [routerLink]="['/messages', this.id]">
                <button class="btn btn-default btn-round">
                  <i class="now-ui-icons ui-2_chat-round"></i>
                  Chat
              </button>
            </a>
              </div>
              <div *ngIf="status == 'user'" style="text-align: center;">
                <button class="btn btn-info btn-round" (click)="sendInvitation(id, name);this.ngOnInit();">
                  <i class="now-ui-icons ui-1_simple-add"></i>
                  Add
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <h5 class="title" *ngIf="this.myprofile == true">
                Friends ({{ this.allmyfriends.length }})
              </h5>
              <h5 class="title" *ngIf="this.myprofile == false">
                Friends ({{ this.allfriends.length }})
              </h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: right;" *ngIf="this.myprofile">
              <button class="btn btn-default btn-round" style="margin-bottom: 0px;" (click)="this.myfriends = this.allmyfriends;">
                See all
            </button>
            </div>
            <div class="col-md-4" style="text-align: right;" *ngIf="!this.myprofile">
              <button class="btn btn-default btn-round" style="margin-bottom: 0px;" (click)="this.friends = this.allfriends;">
                See all
            </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="this.myprofile">
    <div class="col-md-3" *ngFor="let user of myfriends">
      <div class="card card-user" style="height: 340px !important;">
        <div class="image">
          <img src="../../../../assets/img/header.jpg" alt="...">
        </div>
        <div class="card-body" >
          <div class="author">
            <a href="/in/profile/{{user.id}}" >
              <img class="avatar border-gray" src="../../../../assets/img/profile.JPG" alt="...">
              <p style="color: black; font-size: 18px;">{{ user.name }}</p>
            </a>
          </div>
          <div style="text-align: center; margin-bottom: 0px;">
            <a [routerLink]="['/messages', user.id]">
              <button class="btn btn-default btn-round" style="margin-bottom: 0px;">
                <i class="now-ui-icons ui-2_chat-round"></i>
                Chat
              </button>
            </a>
          </div>
         
        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="this.myprofile == false">
    <div class="col-md-3" *ngFor="let user of friends">
      <div class="card card-user" style="height: 340px !important;">
        <div class="image">
          <img src="../../../../assets/img/header.jpg" alt="...">
        </div>
        <div class="card-body" >
          <div class="author">
            <a href="/in/profile/{{user.id}}">
              <img class="avatar border-gray" src="../../../../assets/img/profile.JPG" alt="...">
              <p style="color: black; font-size: 18px;">{{ user.name }}</p>
            </a>
          </div>
          <div *ngIf="user.status == 'invi'" style="text-align: center; display: flex; flex-direction: row;">
            <button class="btn btn-success btn-round" (click)="acceptInvitation(user.id, user.name);">
              <i class="now-ui-icons ui-1_check"></i>
              Accept
          </button>
          <button class="btn btn-danger btn-round" (click)="deleteInvitation(user.id);">
            <i class="now-ui-icons ui-1_simple-remove"></i>
            Delete
        </button>
          </div>
          <div *ngIf="user.status == 'pending'" style="text-align: center;">
            <button class="btn btn-warning btn-round" (click)="cancelInvitation(user.id);">
              <i class="now-ui-icons ui-1_simple-remove"></i>
              Cancel
          </button>
          </div>
          <div *ngIf="user.status == 'friend'" style="text-align: center;">
            <a [routerLink]="['/messages', user.id]">
              <button class="btn btn-default btn-round">
                <i class="now-ui-icons ui-2_chat-round"></i>
                Chat
            </button>
            </a>
          </div>
          <div *ngIf="user.status == 'user'" style="text-align: center;">
            <button class="btn btn-info btn-round" (click)="sendInvitation(user.id, user.name);">
              <i class="now-ui-icons ui-1_simple-add"></i>
              Add
          </button>
          </div>
         
        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="this.myprofile">
   
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Start a post</h5>
        </div>
        <div class="card-body">
          
          <form>
            <div class="row">
                
              <div class="col-md-10">
                <div class="form-group">
                  <textarea name="post" id="post" (input)="this.postcontent = $event.target.value" [value]="this.postcontent" type="text" class="form-control" placeholder="What are you thinking about ..." style="border: 1px solid; border-radius: 25px; height: 50px;"></textarea>
                </div>
              </div>

              <div class="col-md-2">
                <input id="submit-btn" type="button" class="form-control" (click)="this.createPost();" value="Post" style="background-color: rgb(27, 27, 27); color: aliceblue; height: 50px;" >
            </div>
              
            </div>
            

            
          </form>
        </div>
      </div>
    </div>
    
  </div>


  <div class="row" *ngFor="let post of posts; index as i">
   
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12" style="display: flex; flex-direction: row; padding-bottom: 0%; margin-bottom: 0%;">
                <a href="">
                    <img src="../../../../assets/img/profile.JPG" alt="" srcset="" style="border-radius: 50%; height: 55px; width: auto; margin-top: 7px;">
                </a>
                <h5 style="margin-left: 7px;">
                  {{ this.name }} <br>
                  <p style="color: gray; font-size: 12px; margin-bottom:  0px !important;">{{ post.date }}</p>
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div style="padding: 5px; margin: 3px; font-size: 18px;">
                {{ post.content }}
              </div>
            
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              
              <button class="btn btn-info btn-round" (click)="likePost(post._id);" *ngIf="post.likes.indexOf(this.myid) == -1" style="margin-left: 3px; width: calc(33% - 9px); background-color: rgb(167, 202, 255);">
                  <i class="now-ui-icons ui-2_like"></i>
                  <span *ngIf="mobile == false"> Like</span>
                   ({{ post.likes.length }})
              </button>

              <button class="btn btn-info btn-round" (click)="unLikePost(post._id);" *ngIf="post.likes.indexOf(this.myid) != -1" style="margin-left: 3px; width: calc(33% - 9px);">
                <i class="now-ui-icons ui-2_like"></i>
                <span *ngIf="mobile == false"> Liked</span>
                 ({{ post.likes.length }})
              </button>

              <button class="btn btn-primary btn-round" (click)="lovePost(post._id);" *ngIf="post.loves.indexOf(this.myid) == -1" style="margin-left: 3px; width: calc(33% - 9px); background-color: rgb(255, 191, 166);">
                <i class="now-ui-icons ui-2_favourite-28"></i>
                <span *ngIf="mobile == false"> Love</span>
                 ({{ post.loves.length }})
              </button>

              <button class="btn btn-primary btn-round" (click)="unLovePost(post._id);" *ngIf="post.loves.indexOf(this.myid) != -1" style="margin-left: 3px; width: calc(33% - 9px);">
                <i class="now-ui-icons ui-2_favourite-28"></i>
                <span *ngIf="mobile == false"> Loved</span>
                 ({{ post.loves.length }})
              </button>
              
              
              <button class="btn btn-default btn-round" (click)="this.comm[i] = true;" style="margin-left: 3px; width: calc(33% - 9px);">
                  <i class="now-ui-icons ui-2_chat-round"></i>
                  <span *ngIf="mobile == false"> Comment</span>
                   ({{ post.comments.length }})
              </button>
              
            </div>
          </div>

          <div class="row" *ngIf="this.comm[i] == true">
                
            <div class="col-md-10">
              <div class="form-group">
                <textarea name="post" id="post" (input)="this.comment = $event.target.value" [value]="this.comment" type="text" class="form-control" placeholder="Comment this post ..." style="border: 1px solid; border-radius: 25px; height: 50px;"></textarea>
              </div>
            </div>

            <div class="col-md-2">
              <button id="submit-btn" type="button" class="form-control" (click)="this.commentPost(post._id);" style="background-color: rgb(27, 27, 27); color: aliceblue; height: 50px;" >
                <i class="now-ui-icons ui-1_send"></i>
              </button>
          </div>
          <hr>
         
          </div>
          <div class="row" *ngIf="this.comm[i] == true">
            
              
            <div class="col-md-12" *ngFor="let c of post.comments" style="display: flex; flex-direction: row; padding-bottom: 0%; margin-bottom: 0%;">
                <a [routerLink]="['/in/profile', c.idcommenter]">
                    <img src="../../../../assets/img/profile.JPG" alt="" srcset="" style="border-radius: 50%; height: 33px; width: auto; margin-top: 5px;">
                </a>
                <h5 style="margin-left: 7px; font-size: 13px;">
                  {{ c.namecommenter }} <br>
                  <p style="color: gray; font-size: 10px; margin-bottom:  0px !important;">{{ c.date }}</p>
              </h5><br>
              
                <div style="padding: 8px; margin: 7px; font-size: 13px; background-color: rgb(43, 43, 43); color: aliceblue; border-radius: 17px; max-width: 75%;">
                  {{ c.comment }}
                </div>
              <hr>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>

